In [1]:
import pandas as pd

In [2]:
Movie_PATH = './data/Movies.csv'
MovieGenres_PATH = './data/MovieGenres.csv'
Genres_PATH = './data/Genres.csv'

In [3]:
def makeTFIDFdata(movie_path, movieGenres_path, genres_path):
    
    movies = pd.read_csv(movie_path)
    
    movieGenres = pd.read_csv(movieGenres_path)
    
    genres = pd.read_csv(genres_path)
    genres.set_index(keys='genre_id', inplace=True)

    genreName_col = []
    for i in movieGenres['genre_id']:
        genreName_col.append(genres['genre_name'].loc[i])

    movieGenres['genre_name'] = genreName_col

    movieGenresGroup = dict(list(movieGenres['genre_name'].groupby(movieGenres['movie_id'])))

    for k, v in movieGenresGroup.items():
        movieGenresGroup[k] = ' '.join(v.to_list())

    genre_seq = []
    error_count = 0
    for i in movies['movie_id']:
        try:
            genre_seq.append(movieGenresGroup[i])
        except:
            genre_seq.append('')
            error_count += 1
    print('Number of movies do not have any genre: ', error_count)

    movie_tfidf = pd.DataFrame(data={
        'id': movies['movie_id'].to_list(),
        'title': movies['title'].to_list(),
        'genres': genre_seq,
        'overview': movies['overview']})
    
    return movie_tfidf

In [4]:
movie_tfidf = makeTFIDFdata(Movie_PATH, MovieGenres_PATH, Genres_PATH)

Number of movies do not have any genre:  114

In [ ]:
movie_tfidf

          id  ...                                           overview
0        862  ...  Led by Woody, Andy's toys live happily in his ...
1       8844  ...  When siblings Judy and Peter discover an encha...
2        949  ...  Obsessive master thief, Neil McCauley leads a ...
3        710  ...  James Bond must unmask the mysterious head of ...
4       1408  ...  Morgan Adams and her slave, William Shaw, are ...
...      ...  ...                                                ...
5537   64197  ...  Plucked from an orphanage as a literal love sl...
5538   98604  ...  Masha Krapivina - is yet beautiful, and not th...
5539    5589  ...                                 No overview found.
5540   49280  ...  A band-leader has arranged seven chairs for th...
5541  111109  ...  An artist struggles to finish his work while a...

[5542 rows x 4 columns]

In [ ]:
movie_tfidf.to_csv('movie_tfidf.csv', index=False)

In [ ]:
movie_tfidf[movie_tfidf['id']==107643]

          id  ...                                           overview
3231  107643  ...  A once-powerful yakuza clan disbands as a resu...

[1 rows x 4 columns]